<style>
    .jogador-profissional .header-background {
      width: 100%;
      height: 160px;
      background-size: cover;
      background-position: center bottom;
      background: url('https://c1.staticflickr.com/6/5773/22364914234_2dcc351e62_b.jpg');
    }

    .jogador-profissional .card { overflow: hidden; }

    .mh0 { min-height: 0px; }

    .pr0fs17 {
      padding-right: 0px;
      font-size: 17px;
    }

    .b0 {
      border: none;
    }

    .pl0fs17 {
      padding-left: 0px;
      font-size: 17px;
    }

    .w20h18 {
      width: 20px;
      height: 18px;
    }

    .w130h130 {
      width: 130px;
      height: 130px;
    }

    .f20 {
      font-size: 20px;
    }

    .imgitem {
      width: 50px;
      height: 48px;
      padding-right: 10px;
    }

    .text-bold {
      font-weight: 800 !important;
    }

    @media screen and (max-width: 767px) {
      .hide767 {
        display: none;
      }
    }

    .btn-voltar {
      background-color: #68B3C8;
      border-color: #68B3C8;
      color: #ffffff;
      margin-bottom: 10px;
    }

    .btn-voltar:hover {
      background-color: #2C87EE;
      border-color: #2C87EE;
      color: #ffffff;
      margin-bottom: 10px;
    }

    .text-bold { font-weight: 800 !important; }
    .text-capitalize { text-transform: capitalize; }
</style>

<section class="jogador-profissional">
  <div class="row">
    <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card card-user">
        <div class="header-background"></div>

        <div class="content mh0">
          <div class="author">
            <img class="avatar border-white" ng-src="{{ vm.jogador.foto }}" alt="...">
            <h4 class="title">{{ vm.jogador.nome }}</h4>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-lg-6 col-xs-6 col-sm-6 pr0fs17">
            <ul class="list-group">
              <li class="list-group-item b0 text-capitalize"><b>Posição: </b>{{ vm.jogador.posicao }}</li>
              <li class="list-group-item b0"><b>Apelido: </b>{{ vm.jogador.apelido }}</li>
              <li class="list-group-item b0"><b>Time: </b>{{ vm.jogador.time_nome }}</li>
            </ul>
          </div>

          <div class="col-lg-6 col-xs-6 col-sm-6 pl0fs17">
            <ul class="list-group">
              <li class="list-group-item b0"><b>País: </b> {{ vm.jogador.pais }}</li>
              <li class="list-group-item b0"><b>Pontuação do campeonato: </b>{{ vm.jogador.pontuacao }}</li>
              <li class="list-group-item b0"><b>Preço para compra: </b>{{ vm.jogador.preco }}</li>
            </ul>
          </div>
        </div>

        <hr>
      </div>
    </div>
  </div>
</section>
